html {
  background-color: mintcream;
  font-family: "Sigmar One", cursive;
  text-align: center;
}

.btn {
  font-family: "Sigmar One", cursive;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px 30px;
  background-color: white;
}
